__pycache__
*.ckpt
*.safetensors
*.pth
/ESRGAN/*
/SwinIR/*
/repositories
/venv
/tmp
/model.ckpt
/models/**/*
/GFPGANv1.3.pth
/gfpgan/weights/*.pth
/ui-config.json
/outputs
/config.json
/log
/webui.settings.bat
/embeddings
/styles.csv
/params.txt
/styles.csv.bak
/webui-user.bat
/webui-user.sh
/interrogate
/user.css
/.idea
notification.mp3
/SwinIR
/textual_inversion
.vscode
/extensions
/test/stdout.txt
/test/stderr.txt
/cache.json
stable-diffusion-webui-master/VisionXformer/
stable-diffusion-webui-master/diffusers/
stable-diffusion-webui-master/repos/stable-diffusion-webui/
stable-diffusion-webui-master/repos/Pandafluff025/stable-diffusion-webui-promptgen/
stable-diffusion-webui-master/repositories/BLIP/
stable-diffusion-webui-master/repositories/CodeFormer/
stable-diffusion-webui-master/repositories/k-diffusion/
stable-diffusion-webui-master/repositories/stable-diffusion-stability-ai/
stable-diffusion-webui-master/repositories/taming-transformers/
stable-diffusion-webui-master/transformers/
